<table>
	<thead>
		<tr>
			<th class="michal-header">
				<div class="th-flex-container">
					<span>Michal</span>
					<img src="assets/mario.svg"
							 alt="Mario avatar" />
				</div>
			</th>
			<th>
				<div class="th-flex-container">
					<button class="new-bet"
									(click)="openEditor()">
						<span>NEW BET</span>
						<fa-icon [icon]="faPlusSquare"
										 class="plus-icon">
						</fa-icon>
					</button>
				</div>
			</th>
			<th class="kasin-header">
				<div class="th-flex-container">
					<span>Kasin</span>
					<img src="assets/bowser.svg"
							 alt="Bowser avatar" />
				</div>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let bet of bets; let i = index"
				(click)="openEditor(bet)">
			<td class="michal-brews">
				<fa-icon *ngFor="let brew of [].constructor(bet.brewsForMichal)"
								 class="beer-icon"
								 [class.won]="bet.result === 'michalWins'"
								 [icon]="faBeerMugEmpty">
				</fa-icon>
			</td>
			<td class="bet-details"
					[class.void]="bet.result === 'void'"
					[class.done]="bet.result">
				{{ bet.details }}
			</td>
			<td class="kasin-brews">
				<fa-icon *ngFor="let brew of [].constructor(bet.brewsForKasin)"
								 class="beer-icon"
								 [class.won]="bet.result === 'kasinWins'"
								 [icon]="faBeerMugEmpty">
				</fa-icon>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td>
				<fa-icon *ngFor="let brew of [].constructor(brewTotals.michalWon)"
								 class="beer-icon won"
								 size="2xs"
								 [icon]="faBeerMugEmpty">
				</fa-icon>
				<fa-icon *ngFor="let brew of [].constructor(brewTotals.michalPossible - brewTotals.michalWon)"
								 class="beer-icon"
								 size="2xs"
								 [icon]="faBeerMugEmpty">
				</fa-icon>
			</td>
			<td>
				Total brewskis:<br />
				{{ brewTotals.michalWon }}&ndash;{{ brewTotals.kasinWon }}
			</td>
			<td>
				<fa-icon *ngFor="let brew of [].constructor(brewTotals.kasinWon)"
								 class="beer-icon won"
								 size="2xs"
								 [icon]="faBeerMugEmpty">
				</fa-icon>
				<fa-icon *ngFor="let brew of [].constructor(brewTotals.kasinPossible - brewTotals.kasinWon)"
								 class="beer-icon"
								 size="2xs"
								 [icon]="faBeerMugEmpty">
				</fa-icon>
			</td>
		</tr>
	</tfoot>
</table>
