:host {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  padding: 30px 0;
  white-space: nowrap;
  gap: 6px;
}

small {
  font-size: 12px;
}

address {
  font-size: 11px;
  text-decoration: none;

  p {
    display: inline;
    margin-right: 2px;
    font-style: normal;
  }

  a {
    font-style: normal;
    text-decoration: none;
    color: hsl(210, 70%, 55%);

    &:hover {
      color: lighten(hsl(210, 70%, 55%), 10%);
    }
  }
}
