@import 'loading-spinner';

* {
  font-family: 'Verdana', sans-serif;
}

body {
  margin: 0;
  background-color: hsla(97, 35%, 88%);

  // Disable scrolling when bet-editor modal is open
  &.editor-open {
    height: 100%;
    overflow: hidden;
  }
}