:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  width: 100%;
  background-color: hsl(0, 0%, 98%);
}

bb-header,
bb-footer {
  flex-shrink: 0;
  width: 100%;
  background-color: hsla(97, 35%, 88%);
}