:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  width: 100%;
  background-color: hsl(0, 0%, 98%);
}

bb-header,
bb-footer {
  flex-shrink: 0;
  width: 100%;
  background-color: hsl(97, 35%, 88%);
}

.notice {
  padding: 1em 2.2em;
  border: 1px solid transparentize(gray, 0.5);
  border-radius: 8px;
  color: rgb(30,30,30);
  display: inline-block;
  margin: 30px 8px;
  max-width: 500px;
}
